body {
    background-image: url('Images/background.jpeg');
    background-size: cover;
  }
.success {
float: right;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px #8c8b8b;
  border: 2px solid #ebe5e5;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
  margin-right: 250px;
}

h2 {
  color: #33c606;
}

p {
  color: #666;
}

#order-id {
  font-weight: bold;
}

#total-amount {
  font-weight: bold;
  color: #009900;
}
