.user-table {
  border-collapse: collapse;
  width: 600px;
  margin-left:30px
}

.user-table th, .user-table td {
  border: 1px solid black;
  padding: 8px;
}
.c{
	
	background-color:blue;
}

.a{
	background-color:red;
}

table {
  border-collapse: collapse;
  width: 80%;
  
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #e6e6e6;
}

table td {
  text-align: left;
}
body{
	background-image:url('rental.jpg');
	
}

.h1{
	
	background-color:rgb(234, 188, 6);
	font-size:30px;
	font-family: sans-serif;
	padding: 20px;
}